.game {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game__container {
  width: 70vw;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #000;
  margin: 20px 0px 10px;
  padding: 30px;
}

.game__container__wrap {
  display: flex;
  padding: 0 5vw;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

.active {
  color: #808080;
}

.good {
  color: #00ff00;
}


.good-comment {
  color: #93f600;
  display: flex;
}

.bad {
  color: #ff0000;
}

.bad-comment {
  color: #ff6347;
  display: flex;
}